.ChangePassword {
    margin: 30px;
}
.form {
    margin-top: 30px;
    input {
        margin-left: 10px;
        width: 50%;
        color: white;
        outline: none;
        background: transparent;
        border: none;
        border-bottom: solid 2px palevioletred;
        box-shadow: none;
    }
}
.success {
    text-align: right;
    margin-right: 30px;
    margin-top: 20px;
}
